.payment-wrapper {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.summary-card {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.method-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.upi-options button {
  margin-right: 10px;
}

.card-row {
  display: flex;
  gap: 10px;
}

.pay-btn {
  width: 100%;
  background: green;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}